{% extends 'base.html.twig' %}

{% block title %}Hello DepartementController!{% endblock %}

{% block body %}
<style>
   
</style>

<div class="example-wrapper">
    <h1>Liste des départements</h1>

  
{% endblock %}
